
:root{
    --primary:#00AEB5;
    --primaryDark:#17232F;
    --secondary:#ffff;
    --terciary:#FF5087;
    --dark:#000000;
}

.aling{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.sect-contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 2px;

    width: 70%;
    padding: 15px;
    background-color: var(--primaryDark);
    color: var(--secondary);
    line-height: 2.5rem;
    font-size: 20px;
}
.strong{
    color:var(--primary) ;
    font-size: 3rem;
}
.numero{
    color: var(--terciary);
}
.img-consul{
    width: 450px;
    height: 400px;
    border-radius: 3px;
}
.img-contact{
    margin-top: 1rem;
    width: 25px;
    height: 25px;
}

@media screen and (max-width:480px) {
    .sect-contact{
        width: 100%;
    }
    .img-consul{
        width: 350px;
        height: 350px;
    }
}
