
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --primary:#00AEB5;
    --primaryDark:#17232F;
    --secondary:#ffff;
    --terciary:#FF5087;
    --dark:#000000;
}
/*NAVEGACION*/
.header{
    width: 100%;
    background-color: var(--primaryDark);
    padding: 0.5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .button{
    display: none;
}
.header .svg{
    width: 2rem;
    height: 2rem;
    fill: black;
}
.header .nav{
    
}
.header .a{
    font-size: 2.50rem;
    color: var(--primary);
}
.header .a:hover{
    color: var(--terciary);
}

.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.header .li{
    margin: 1rem;
}
.img{
    width: 12rem;
    height: 12rem;

}
@media screen and (max-width:480px) {
    .header .button{
        cursor: pointer;
        display: block;
    }
    /*Estilos de mi navegacion cuando esta siento responsive*/
    .header .nav{
        width: 100%;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transition: all 1s ease;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
    }
    /*Clase que se acciona cuando toco el boton*/
    .header .nav.activo{
        height: 30rem;
        pointer-events: auto;
    }
    .header .ul{
        flex-direction: column;
    }
    .header .li{
        margin: 2rem 0;
    }
    .header .a{
        font-size: 1.50rem;
    }
    .img{
        height: 8rem;
        width: 8rem;
    }
}