<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/serv_calculator.css">
    <link rel="icon" href="../assets/Logo.jpeg">
    <title>Nutriciencia</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">
          <a href="../index.html">
            <img class="img" src="../assets/Logo2.png" alt="Logo">
          </a>
        </h1>
        <button class="button">
            <svg class='svg' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </button>
        <nav class="nav activo" >
            <ul class="ul">
                <li class="li"><a href="../index.html" class="a">Sobre nosotros</a></li>
                <li class="li"><a href="turnos.html" class="a">Pedi un turno</a></li>
                <li class="li"><a href="servicios.html" class="a">Servicios</a></li>
                <li class="li"><a href="#" class="a">Objetivos</a></li>
                <li class="li"><a href="contacto.html" class="a">Contacto</a></li>
                <li class="li button_dark button_white" id="button_dark"><button class="button_darkMode" id="btn_dark">Modo oscuro</button></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="title-servicios">
          <h2>Calculadoras</h2>
          <p>Los valores son referencias.<br>Cualquier duda consultar con el profesional.</p>
        </div>
        <section class="seccion">
            <!--Seccion de servicios desde javascript-->
        <div class="alingNew">
        <section class="calculator">
            <h2><strong class="precio">Calculadora tu IMC</strong></h2>
            <div>
              <label>Peso (kg):</label>
              <input class="input" type="number" id="weight" min="1" max="300" step="0.1">
            </div>
            <div>
              <label>Altura (cm):</label>
              <input class="input"type="number" id="height" min="50" max="300" step="0.1">
            </div>
            <div>
              <label>Edad:</label>
              <input class="input"type="number" id="age" min="1" max="120">
            </div>
              <label>Sexo:</label>
              <select class="input" id="sex">
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
              </select>
            <button class="btn-content " onclick="calculateIMC()">Calcular IMC</button>
            <div class="precio" id="result" ></div>
            <p><strong class="precio">Busca el plan acorde a tus objetivos.</strong></p>
    </section>
</div>
<div class="alingNew">
  <section class="calculator">
    <h2><strong class="precio">Calcula tus calorias</strong></h2>
    <label for="weight">Peso (kg):</label>
    <input  class="input" type="number" id="peso" required>
    <label for="height">Altura (cm):</label>
    <input  class="input"type="number" id="altura" required>
    <label for="age">Edad:</label>
    <input  class="input"type="number" id="edad" required>
    <label for="gender">Sexo:</label>
    <select class="input" id="genero" required>
      <option value="hombre">Hombre</option>
      <option value="mujer">Mujer</option>
    </select>
    <label for="activity">Nivel de Actividad:</label>
    <select class="input" id="activity" required>
      <option value="1.2">Sedentario</option>
      <option value="1.375">Ligeramente Activo</option>
      <option value="1.55">Moderadamente Activo</option>
      <option value="1.725">Muy Activo</option>
      <option value="1.9">Extremadamente Activo</option>
    </select>
    <button class="btn-content" onclick="calcular()">Calcular Calorías</button>
    <div class="resultado">
      <p class="precio">Tu requerimiento diario de calorías es: <span id="calorias">0</span> kcal.</p>
    </div>
  </section>
</div>
</section>
<div class="alingNew">
  <section class="calculator" >
    <div id="mujer" class="mujer">
      <h2><strong class="precio">Calcula tu % graso <br> Mujeres </strong></h2>
      <label for="cintura">Cintura (en cm): </label>
      <input class="input" type="number" id="cintura"><br>
      <label for="cadera">Cadera (en cm): </label>
      <input class="input" type="number" id="cadera"><br>
      <label for="cuello">Cuello (en cm): </label>
      <input class="input" type="number" id="cuello"><br>
      <label for="talla">Talla (en cm): </label>
      <input class="input" type="number" id="talla"><br>
      <button class="btn-content" onclick="calcularPorcentajeMujer()">Calcular</button>
      <p class="precio" id="resultadoMujer">Aqui veras el resultado</p>
    </div>
  </section>
  </div>
    <!-- Para hombres -->
    <div class="alingNew">
      <section class="calculator">
    <div id="hombre" class="hombre">
      <h2><strong class="precio">Calcula tu % gaso <br> Hombres </strong></h2>
      <label for="abdomen">Abdomen (cm):</label>
      <input class="input" type="number" id="abdomenHombre" name="abdomen"><br>
      <label for="cuello">Cuello (cm):</label>
      <input  class="input" type="number" id="cuelloHombre" name="cuello"><br>
      <label for="altura">Altura (cm):</label>
      <input class="input" type="number" id="alturaHombre" name="altura"><br>
      <button class="btn-content" type="button" onclick="calcularPorcentajeHombre()">Calcular</button>
      <p class="precio" id="resultadoHombre">Aqui veras el resultado</p>
    </section>
    </div>   
  </div>
  <div class="title-servicios">
    <h2>Calculadoras</h2>
    <p>Los valores son referencias.<br>Cualquier duda consultar con el profesional.</p>
  </div>
</main>  
    <script src="../js/index.js"></script>
    <script src="../js/calculator.js"></script>
    <!--Pie de pagina-->
    <footer class="container_footer">
      <div class="footer_logo">
          <img src="../assets/Logo2.png" alt="logo"/>
      </div>
      <div class="footer_contact">
          <h6>Estamos en </h6>
          <p>- San Martín 2281 Puntomed - Piso 6 - Consultorio 9 </p>
          <h6>Escribirnos al</h6>
          <p class="num-footer">-3765113766</p>
          <p>O a nutri.ciencia@hotmail.com</p>
      </div>
  </footer>
</body>
</html>