<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../public/img/Logo.jpeg">
    <title>Nutriciencia</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">
            <a href="../index.html">
                <img class="img" src="../public/img/Logo.jpeg" alt="Logo">
            </a>
        </h1>
        <button class="button">
            <svg class='svg' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </button>
        <nav class="nav activo" >
            <ul class="ul">
                <li class="li"><a href="../index.html" class="a">Sobre nosotros</a></li>
                <li class="li"><a href="turnos.html" class="a">Pedi un turno</a></li>
                <li class="li"><a href="servicios.html" class="a">Servicios</a></li>
                <li class="li"><a href="objetivos.html" class="a">Objetivos</a></li>
                <li class="li"><a href="contacto.html" class="a">Contacto</a></li>
                <li class="li button_dark button_white" id="button_dark"><button class="button_darkMode" id="btn_dark">Modo oscuro</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="turnos">
            <article class="turnos_container">
                <h2><strong class="titulo_turnos"> Quienes somos</strong></h2>
                <p class="p_turnos">Somos un equipo multidisciplinario de nutricionistas y profesionales de la salud que <strong class="clave">queremos ayudarte a alcanzar tus metas, objetivos y mejorar tu salud.</strong> 
                    La nutrición ha cambiado, y nosotros queremos que aprendas, para así mantener a largo plazo los resultados que logremos.
                    En Nutriciencia <strong class="clave"> nos comprometemos a resolver todas tus dudas desde el rigor científico </strong>. Estaremos encantados de trabajar juntos para buscar tu mejor versión.</p>
                <p class="p_turnos detalle">Pide un turno y cumple tus objetivos.</p>
            </article>
        </section>
    </main>
    <footer class="container_footer">
        <div class="footer_logo">
            <img src="../assets/Logo2.jpeg" alt="logo"/>
        </div>
        <div class="footer_contact">
            <h6>Estamos en </h6>
            <p>- San Martín 2281 Puntomed - Piso 6 - Consultorio 9 </p>
            <h6>Escribirnos al</h6>
            <p>- 3765113766</p>
            <p>O a nutri.ciencia@hotmail.com</p>
        </div>
    </footer>
    <script src="../js/index.js"></script>
</body>
</html>